* {
    margin:0;
    padding:0;
    font-family: 'Ysabeau Infant', sans-serif;
}
.primary-color{
    color:#ff2323dc;
}
.nav-bar{
    max-width: 100%;
    height: 50px;
    padding: 30px;
    display: flex;
    gap:372px;
    justify-content: space-around;
    align-items: center;
}
.nav-bar img{
    width:150px;
}
.menu>ul{
    display: flex;
    justify-content: space-between;
    gap:90px;
    font-size: 20px;
    font-weight: 600;
}
.menu li{
    list-style-type: none;
}
.menu a{
    text-decoration: none;
    color:aliceblue;
}
header{
    background-image:url("./images/Picture/background.jpg"),linear-gradient(rgba(0, 0, 0, 0.849),rgba(0, 0, 0, 0.863));
    width: 100%;
    height: 100vh;
    background-blend-mode:overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.content-parent{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:center;
    height: 100vh;
    padding-right: 100px;
}

.head-content{
    color: aliceblue;
    width:700px;
}

.head-title{
    font-size:60px;
    text-align: center;
}
.head-info{
    font-size: 15px;
    text-align: justify;
    line-height: 1.5;
    font-weight: 400;
    margin: auto;
    width: 90%;
}
.primary-btn{
    padding: 10px;
    color:rgb(255, 255, 255);
    font-weight: 600;
    font-size:15px ;
    background-color: #ff2323dc;
    margin: 15px 10px 0;
    border: none;
}
.different-btn{
    background-color:white;
    border:none;
    color: black;

}
/* section1 design */
.section1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.904),rgba(0, 0, 0, 0.925)),url('./images/Picture/footer-bg.png');
    max-width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:aliceblue;
    position: relative;
}
.section-btn{
    padding: 5px 10px;
    font-size:20px ;
    border-radius:30px ;
    width:150px ;
    height: 50px;
    margin-bottom: 10px;
    font-weight: 600;
    border: none;
    color:#e62020 ;
}
.section-title{
    font-size:50px;
    font-weight: 800;
}
.section1-data{
    font-size: 15px;
    text-align: justify;
    line-height: 1.5;
    font-weight: 300;
    margin:10px 0px 20px;
}
.section1-info{
    width:50%;
    margin-left: 20px;
}
.section1-info img{
    height:80px;
    width:80px;
    border-radius: 50%;
}
.profile{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap:20px;
}
.profile hr{
    width: 0px;
    height: 80px;
}
.skills{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap:10px 10px;
    padding-right: 60px;
}


.skils img{
    height:80px;
    width:80px;
}
.skills-name>img{
    height:80px;
    width:80px;
}
.skills-name{
    background-color: aliceblue;
    width:200px;
    color: black;
    padding:30px;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
}

.consult{
    margin: -40px auto 80px;
    background-color: rgb(248, 91, 91);
    display: flex;
    justify-content: space-around;
    height: 130px;
    align-items: center;
    width:70%;
    position: absolute;
    left: 15%;
    z-index: 1;
    border-radius: 20px;
}
.consult img{
    height:40px;
    width:40px;
}
.consult p{
    width: 60%;
}
.consult h3{
    font-size: 15px;
    line-height: 1.7;
    border-right: 2px solid rgba(255, 255, 255, 0.506);
    padding-right: 10px;
}
.blog-title{
    margin: 150px auto 20px;
    font-size:60px;
    text-align: center;
}
.blog-info{ 
    font-size: 15px;
    text-align:justify;
    line-height: 1.5;
    font-weight: 600;
    margin:auto;
    width:40%;
}

.article img{
    width:300px;
    height:230px;
    border-radius: 20px 20px 0px 0px;
}
.article{
    width:300px;
    height: 400px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
}
.articles{
    display: flex;
    justify-content:center;
    gap:90px;
    height:90vh;
    align-items: center;
}
.article h3{
    margin: 5px auto;
    padding: 5px;   
}
.articles p{
    font-weight: 300;
    padding: 5px; 
}